
LOCATE COMP "i2s_bclk" SITE "C2";
IOBUF PORT "i2s_bclk" IO_TYPE=LVCMOS33;

LOCATE COMP "i2s_lrck" SITE "C1";
IOBUF PORT "i2s_lrck" IO_TYPE=LVCMOS33;

LOCATE COMP "i2s_mclk" SITE "D1";
IOBUF PORT "i2s_mclk" IO_TYPE=LVCMOS33;

LOCATE COMP "i2s_data" SITE "B1";
IOBUF PORT "i2s_data" IO_TYPE=LVCMOS33;

LOCATE COMP "i2s_en" SITE "E2";
IOBUF PORT "i2s_en" IO_TYPE=LVCMOS33;


LOCATE COMP "led1" SITE "A2";
IOBUF PORT "led1" IO_TYPE=LVCMOS33;

LOCATE COMP "led2" SITE "A3";
IOBUF PORT "led2" IO_TYPE=LVCMOS33;

LOCATE COMP "tx" SITE "R4"; # "C3";
IOBUF PORT "tx" IO_TYPE=LVCMOS33;

LOCATE COMP "rx" SITE "T4"; # "D3";
IOBUF PORT "rx" IO_TYPE=LVCMOS33;

LOCATE COMP "dbg1" SITE "R4";
IOBUF PORT "dbg1" IO_TYPE=LVCMOS33;

LOCATE COMP "dbg2" SITE "T4";
IOBUF PORT "dbg1" IO_TYPE=LVCMOS33;

LOCATE COMP "lcd_clk" SITE "J3";
IOBUF PORT "lcd_clk" IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_pwm" SITE "N4";
IOBUF PORT "lcd_pwm" IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_hsync" SITE "L5";
IOBUF PORT "lcd_hsync" IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_vsync" SITE "P1";
IOBUF PORT "lcd_vsync" IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_de" SITE "P3";
IOBUF PORT "lcd_de" IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_data[15]" SITE "E1";
IOBUF PORT "lcd_data[15]" IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_data[14]" SITE "F2";
IOBUF PORT "lcd_data[14]" IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_data[13]" SITE "F1";
IOBUF PORT "lcd_data[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_data[12]" SITE "G2";
IOBUF PORT "lcd_data[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_data[11]" SITE "G1";
IOBUF PORT "lcd_data[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_data[10]" SITE "H2";
IOBUF PORT "lcd_data[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_data[9]" SITE "J2";
IOBUF PORT "lcd_data[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_data[8]" SITE "J1";
IOBUF PORT "lcd_data[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_data[7]" SITE "K2";
IOBUF PORT "lcd_data[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_data[6]" SITE "K1";
IOBUF PORT "lcd_data[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_data[5]" SITE "L2";
IOBUF PORT "lcd_data[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_data[4]" SITE "L1";
IOBUF PORT "lcd_data[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_data[3]" SITE "M2";
IOBUF PORT "lcd_data[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_data[2]" SITE "M1";
IOBUF PORT "lcd_data[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_data[1]" SITE "N1";
IOBUF PORT "lcd_data[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_data[0]" SITE "P2";
IOBUF PORT "lcd_data[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "xd[0]" SITE "D12";
IOBUF PORT "xd[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "xd[1]" SITE "C12";
IOBUF PORT "xd[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "xd[2]" SITE "D11";
IOBUF PORT "xd[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "xd[3]" SITE "C11";
IOBUF PORT "xd[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "xd[4]" SITE "D10";
IOBUF PORT "xd[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "xd[5]" SITE "C10";
IOBUF PORT "xd[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "xd[6]" SITE "D9";
IOBUF PORT "xd[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "xd[7]" SITE "C9";
IOBUF PORT "xd[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "xd[8]" SITE "D8";
IOBUF PORT "xd[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "xd[9]" SITE "C8";
IOBUF PORT "xd[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "xd[10]" SITE "D7";
IOBUF PORT "xd[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "xd[11]" SITE "C7";
IOBUF PORT "xd[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "xd[12]" SITE "D6";
IOBUF PORT "xd[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "xd[13]" SITE "C6";
IOBUF PORT "xd[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "xd[14]" SITE "D5";
IOBUF PORT "xd[14]" IO_TYPE=LVCMOS33;
LOCATE COMP "xd[15]" SITE "C5";
IOBUF PORT "xd[15]" IO_TYPE=LVCMOS33;

LOCATE COMP "xa[0]" SITE "B10";
IOBUF PORT "xa[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "xa[1]" SITE "A10";
IOBUF PORT "xa[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "xa[2]" SITE "B9";
IOBUF PORT "xa[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "xa[3]" SITE "A9";
IOBUF PORT "xa[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "xa[4]" SITE "B8";
IOBUF PORT "xa[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "xa[5]" SITE "A8";
IOBUF PORT "xa[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "xa[6]" SITE "B7";
IOBUF PORT "xa[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "xa[7]" SITE "A7";
IOBUF PORT "xa[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "xa[8]" SITE "B6";
IOBUF PORT "xa[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "xa[9]" SITE "A6";
IOBUF PORT "xa[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "xa[10]" SITE "A11";
IOBUF PORT "xa[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "xa[11]" SITE "B3";
IOBUF PORT "xa[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "xa[12]" SITE "A4";
IOBUF PORT "xa[12]" IO_TYPE=LVCMOS33;

LOCATE COMP "xclk" SITE "A5";
IOBUF PORT "xclk" IO_TYPE=LVCMOS33;
LOCATE COMP "xcke" SITE "B4";
IOBUF PORT "xcke" IO_TYPE=LVCMOS33;
LOCATE COMP "xcs" SITE "A14";
IOBUF PORT "xcs" IO_TYPE=LVCMOS33;
LOCATE COMP "xras" SITE "B13";
IOBUF PORT "xras" IO_TYPE=LVCMOS33;
LOCATE COMP "xcas" SITE "A13";
IOBUF PORT "xcas" IO_TYPE=LVCMOS33;
LOCATE COMP "xwe" SITE "B12";
IOBUF PORT "xwe" IO_TYPE=LVCMOS33;
LOCATE COMP "xba[0]" SITE "B14";
IOBUF PORT "xba[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "xba[1]" SITE "B11";
IOBUF PORT "xba[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "xldqm" SITE "A12";
IOBUF PORT "xldqm" IO_TYPE=LVCMOS33;
LOCATE COMP "xudqm" SITE "B5";
IOBUF PORT "xudqm" IO_TYPE=LVCMOS33;


LOCATE COMP "yd[0]" SITE "N13";
IOBUF PORT "yd[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "yd[1]" SITE "N14";
IOBUF PORT "yd[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "yd[2]" SITE "M13";
IOBUF PORT "yd[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "yd[3]" SITE "M14";
IOBUF PORT "yd[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "yd[4]" SITE "K14";
IOBUF PORT "yd[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "yd[5]" SITE "K13";
IOBUF PORT "yd[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "yd[6]" SITE "J14";
IOBUF PORT "yd[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "yd[7]" SITE "J13";
IOBUF PORT "yd[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "yd[8]" SITE "D14";
IOBUF PORT "yd[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "yd[9]" SITE "E14";
IOBUF PORT "yd[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "yd[10]" SITE "F13";
IOBUF PORT "yd[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "yd[11]" SITE "F14";
IOBUF PORT "yd[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "yd[12]" SITE "H14";
IOBUF PORT "yd[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "yd[13]" SITE "H13";
IOBUF PORT "yd[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "yd[14]" SITE "G14";
IOBUF PORT "yd[14]" IO_TYPE=LVCMOS33;
LOCATE COMP "yd[15]" SITE "G13";
IOBUF PORT "yd[15]" IO_TYPE=LVCMOS33;

LOCATE COMP "ya[0]" SITE "J16";
IOBUF PORT "ya[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "ya[1]" SITE "J15";
IOBUF PORT "ya[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "ya[2]" SITE "H15";
IOBUF PORT "ya[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "ya[3]" SITE "G16";
IOBUF PORT "ya[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "ya[4]" SITE "G15";
IOBUF PORT "ya[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "ya[5]" SITE "F16";
IOBUF PORT "ya[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "ya[6]" SITE "F15";
IOBUF PORT "ya[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "ya[7]" SITE "E16";
IOBUF PORT "ya[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "ya[8]" SITE "E15";
IOBUF PORT "ya[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "ya[9]" SITE "B15";
IOBUF PORT "ya[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "ya[10]" SITE "K15";
IOBUF PORT "ya[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "ya[11]" SITE "B16";
IOBUF PORT "ya[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "ya[12]" SITE "C15";
IOBUF PORT "ya[12]" IO_TYPE=LVCMOS33;

LOCATE COMP "yclk" SITE "C14";
IOBUF PORT "yclk" IO_TYPE=LVCMOS33;
LOCATE COMP "ycke" SITE "C16";
IOBUF PORT "ycke" IO_TYPE=LVCMOS33;
LOCATE COMP "ycs" SITE "P16";
IOBUF PORT "ycs" IO_TYPE=LVCMOS33;
LOCATE COMP "yras" SITE "N16";
IOBUF PORT "yras" IO_TYPE=LVCMOS33;
LOCATE COMP "ycas" SITE "M16";
IOBUF PORT "ycas" IO_TYPE=LVCMOS33;
LOCATE COMP "ywe" SITE "L16";
IOBUF PORT "ywe" IO_TYPE=LVCMOS33;
LOCATE COMP "yba[0]" SITE "R16";
IOBUF PORT "yba[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "yba[1]" SITE "K16";
IOBUF PORT "yba[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "yldqm" SITE "L15";
IOBUF PORT "yldqm" IO_TYPE=LVCMOS33;
LOCATE COMP "yudqm" SITE "D16";
IOBUF PORT "yudqm" IO_TYPE=LVCMOS33;
